{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<h1>About me</h1><br>

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
    <img src="{% static 'blog/images/about_me_image.jpg' %}" class="card-img" >
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
            Miguel Ángel Arévalo Andrade
        </h5>
          <p class="card-text">I'm a Computer Science engineer who faithfully believes that technology is a powerful instrument, necessary to build a better world and must be put on people service. Developing, innovating and learning is what I do daily. I like to be informed about technology, politics and new things that Big Tech companies create every day. I love being involved in courses and events about technology, programming. I challenge myself solving Hackerank, Codeforces problems. I am also a strong chess player, aiming to become a GM</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}